$primary: rgb(8, 53, 80);
$secondary: rgb(60, 162, 146);
$success: rgb(78, 190, 149);
$light: rgb(250, 246, 246);
$dark: rgb(18, 27, 38);
$danger: rgb(220, 53, 69);
$fondo-secundario: rgb(236, 248, 248);
